{% extends "base.html.twig" %}


{% block title %}Le Quai-Antique | La carte
{% endblock %}

{% block body %}
<article class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-4">
			<h1 class="text-center mt-5">La carte</h1>


			{% for dishe in dishes %}
				{% set categoryOrder = [1, 2, 3, 4] %}

				{% for category in categories|sort((a, b) => categoryOrder|indexOf(a.id) <=> categoryOrder|indexOf(b.id)) %}
					
				{% endfor %}
				{% if dishe.categories.parent !== null %}
					<div class="col-12 ">
						<h2 class="text-center mt-5">{{ dishe.categories.name }}</h2>
						<h2 class="text-center mt-5">{{ dishe.categories.parent }}</h2>

					</div>
					<tr>
						<td>
							{{ dishe.id }}
						</td>

						<td>{{ dishe.name }}</td>
						<td>{{ dishe.description }}</td>
						<td>{{ dishe.price }}</td>

						<td>{{ dishe.categories.name }}</td>
						<td></td>
					</tr>
				{% else %}
					<div class="col">
						<div class="card bg-secondary h-100">
							<img src="assets/images/beans-g0bef93435_1920.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h3 class="card-title">{{ dishe.name }}</h3>
								<p class="card-text text-center">Voir nos plats et leur déscriptions</p>
								<a href=" {{ path('app_categories_list', {slug: dishe.slug}) }} " class="btn">Voir les plats</a>
							</div>
						</div>
					</div>
				{% endif %}


			{% endfor %}
			<!--	<div id="flipbook">
														<div class="hard">
															La Carte
														</div>
														<div class="hard"></div>
														{#{% for category in categories %}
														{% if category == null %}
															
													
														<div>
															{{ category.name[1].dishes.name.description.price }}
														</div>
														<div>
															{{ category.name[2].dishes.name.description.price }}
														</div>
														<div>
															{{ category.name[3].dishes.name.description.price }}
														</div>
														<div>
															{{ category.name[4].dishes.name.description.price }}
														</div>
														{% else %}
															<div class="col">
																<div class="card bg-secondary h-100">
																	<img src="assets/images/beans-g0bef93435_1920.jpg" class="card-img-top" alt="...">
																	<div class="card-body">
																		<h3 class="card-title">{{ category.name }}</h3>
																		<p class="card-text text-center">Voir nos plats et leur déscriptions</p>
																		<a href=" {{ path('app_categories_list', {slug: category.slug}) }} " class="btn">Voir les plats</a>
																	</div>
																</div>
															</div>
														{% endif %}
									
													{% endfor %}
														<div class="hard"></div>
														<div class="hard"></div>
													</div>
													</div>
											</div>
										</article>
									
													{#{% for category in categories %}
														{% if category.parent == null %}
									
															<div class="col-12 ">
																<h2 class="text-center mt-5">{{ category.name }}</h2>
																{#<h2 class="text-center mt-5">{{ category.parent }}</h2>
															</div>
														{% else %}
															<div class="col">
																<div class="card bg-secondary h-100">
																	<img src="assets/images/beans-g0bef93435_1920.jpg" class="card-img-top" alt="...">
																	<div class="card-body">
																		<h3 class="card-title">{{ category.name }}</h3>
																		<p class="card-text text-center">Voir nos plats et leur déscriptions</p>
																		<a href=" {{ path('app_categories_list', {slug: category.slug}) }} " class="btn">Voir les plats</a>
																	</div>
																</div>
															</div>
									
														{% endif %}
									
													{% endfor %}#}
												
										
									
									{% endblock %}
