{{ form_start(dishesForm) }}
{{ form_row(dishesForm.name) }}
{{ form_row(dishesForm.description) }}
{{ form_row(dishesForm.price) }}
{{ form_row(dishesForm.categories) }}
{{ form_row(dishesForm.images) }}


    {# Affichage des images #}
    {% if app.request.attributes.get('_route') == 'admin_dishes_edit' %}

        <h2>Images</h2>
        {% for image in dishes.images %}
            <div>
            <img src=" {{ asset('assets/uploads/dishes/mini/300x300-' ~ image.name) }} " alt=" {{ dishes.name }} " width="150">
            <a href="" data-delete data-token=" {{ csrf_token('delete' ~ image.id) }} ">Supprimer</a>
            </div>
        {% endfor %}
        
    {% endif %}


<button class="btn" type="submit"> {{ button_label | default ('Ajouter') }} </button>
{{ form_end(dishesForm) }}