{{ form_start(dishesForm) }}
{{ form_row(dishesForm.name) }}
{{ form_row(dishesForm.description) }}
{{ form_widget(dishesForm.price) }}
{{ form_row(dishesForm.categories) }}
<button class="btn" type="submit">Valider</button>
{{ form_end(dishesForm) }}